<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Maze</title>
    <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/js/maze.css") %>">
  </head>

  <body>
    <div class="container">
      <div class="main">
        <div class="maze">
          <canvas id="kanvas" width="400" height="400"></canvas>
        </div>
        <div class="info">
          <h2>Tutorial</h2>

          <div class="directions">
            <div class="dir">
              <span>⇧</span>
              <img width="64" height="64" src="<%= static_path(@conn, "/images/facebook-like.png") %>" />
            </div>
            <div class="dir">
              <span>⇦</span>
              <img width="64" height="64" src="<%= static_path(@conn, "/images/facebook-like.png") %>" />
            </div>
            <div class="dir">
              <span>⇨</span>
              <img width="64" height="64" src="<%= static_path(@conn, "/images/facebook-like.png") %>" />
            </div>
            <div class="dir">
              <span>⇩</span>
              <img width="64" height="64" src="<%= static_path(@conn, "/images/facebook-like.png") %>" />
            </div>
          </div>
        </div>
      </div>
      <div class="help">
        <p>Multiple moves allowed, make sure to "unlike" before.</p>
      </div>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/maze.js") %>"></script>
  </body>
</html>